/* Busco fuentes de internet*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans+JP&family=Roboto&family=Yellowtail&display=swap');

*{
	font-family: 'Acme', sans-serif;
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Yellowtail', cursive;
	margin: 0;
	padding: 0;
}

/*SECCION INICIO */
.inicio {
	background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,rgba(0,0,0,.3)));
	background: url("img/top1.PNG");
	background-size: cover;
	background-position: center center;
	color: black;
	}
.inicio .contenido-seccion{
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding: 0 10px;
}
.inicio .contenido-seccion header{
	padding: 30px;
}
.inicio .contenido-seccion header nav{
	position: fixed;
	margin-left: 60px;
	background-color: blue;
	padding: 15px;
	border-radius: 10px;
	text-align: left;
	z-index: 99;
	display: none;
}
.inicio .contenido-seccion header nav a{
	font-family: "Acme";
	display: block;
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
	font-weight: bold;
}
.inicio .contenido-seccion header .logo{
	font-weight:bold;
	font-size: 2.5rem;
	font-family: "Acme";
	text-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion header .logo .color{
	color: blue;
	font-family: "Acme";
}
.inicio .contenido-seccion header .nav-bar {
	font-family: "Roboto";
	position: fixed;
	background-color:blue;
	font-size: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	cursor: pointer;
	transition: .3s;
}
.inicio .contenido-seccion header .nav-bar:hover{
	box-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion .info {
	padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1 {
	font-size: 3rem;
	letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2 {
font-family: "Acme";
font-weight: normal;
font-size: 20px;
margin-top: -10px;
letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes {
	margin: 20px 0;
}
/* Problemas en esta parte de los links de las redes */

.inicio .contenido-seccion .info .redes a{
	display: inline-block;
	text-decoration: none;
	background-color: black;
	color: blue;
	border: 1px solid blue;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover {
	color: #fff;
	background-color: blue;
	box-shadow: 0 0 20px #000;
}


.inicio .contenido-seccion .foto {
	position: relative;
}

.inicio .contenido-seccion .foto img {
	max-width: 200px;
	border-radius: 50%;
	border: 5px solid blue;
	position: absolute;
	left: 50%;
	top: -100px;
	transform: translateX(-50%);
}

/*SECCION SOBRE MI */

.titulo-seccion{
font-family: "Acme";
margin-top: 5px;
font-size: 1.5rem;
}

.sobremi {
	background-color: #e6e6e6;
	padding: 140px 0 100px 0;
	text-align: center;
}
.sobremi .contenido-seccion{
	font-family: "Roboto";
	max-width:1000px;
	margin: auto;
	padding: 0 10px;
}

.sobremi .contenido-seccion h3 {
	font-family: "Acme";
	text-transform: uppercase;
	font-size: 30px;
}
.sobremi .contenido-seccion .especial {
	color: blue;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}
.sobremi .contenido-seccion p{
	max-width: 700px;
	margin: auto;
	color: #666;
}
.sobremi .contenido-seccion .fila {
	display: flex;
	margin-top: 30px;
	justify-content: space-between; /*No me toma space-between SOLUCIONADO*/
}
.sobremi .contenido-seccion .fila .col {
	width: 30%;
}
.sobremi .contenido-seccion .fila .col i{
	color: blue;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2px solid #000;
	line-height: 40px;
	border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span {
	display: block;
	font-weight: bold;
	margin: 8px;
}

/*Seccion conocimientos*/

.conocimientos {
	font-family: "Roboto";
	padding: 80px 0 100px 0;
	text-align: center;
	background:  url("img/fondo4.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center, center;
	color: black;
	
}
.conocimientos .contenido-seccion {
	font-family: "Acme";
	max-width: 1000px;
	margin: auto;
	padding: 0 10px;
}

.conocimientos .contenido-seccion h3 {
	font-family: "Acme";
	font-weight: bold;
	font-size: 30px;
}
.conocimientos .contenido-seccion p {
	font-family: "Yellowtail";
	font-weight: bold;
	font-size: 22px;
}
.conocimientos .contenido-seccion span {
	font-family: "Acme";
	font-weight: bold;
	text-transform : uppercase;
	font-size: 18px;
}
.conocimientos .contenido-seccion .fila{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.conocimientos .contenido-seccion .fila .col .cont-barra{
	display: flex;
	align-items: center;
}

.conocimientos .contenido-seccion .barra {
	display: flex;
	border: 1px solid blue;
	padding: 2px;
	border-radius: 3px;
	margin-right: 10px;
}

.conocimientos .contenido-seccion .barra .e{
	background-color: #363636;
	width: 20px;
	height: 30px;
	margin-right: 2px;
}

/* HISTORIA EXPERIENCIA */

.historia {
	background-color: #e6e6e6;
	padding: 140px 0 100px 0;
	text-align: center;
}

.historia .contenido-seccion {
	max-width: 1000px;
	margin: auto;
	padding: 0 10px;
}
.historia .contenido-seccion h3 {
	font-family: "Acme";
	text-transform: uppercase; 
	font-size: 20px;
}

.historia .contenido-seccion .info {
	text-align: left;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.historia .contenido-seccion .info .col {
	width: 45%;
}

.historia .contenido-seccion .info. .col .titulo {
	display: inline-block;
	color:blue;
	font-weight: bold;
	border: 2px solid blue;
	padding: 10px;
	}
.historia .contenido-seccion .info .col table {
	margin-top: 30px;
	border-collapse: collapse;
	}
.historia .contenido-seccion .info .col table .datos {
	width: 40%;
	border-bottom: 1px solid #bab9b9;
	}
.historia .contenido-seccion .info .col table h4 {
	margin-top: 10px;
}
.historia .contenido-seccion .info .col table h3 {
	font-size: 20px;
	margin-bottom: 5px;
}	
.historia .contenido-seccion .info .col table p{
	font-size: 14px;
	}
.historia .contenido-seccion .info .col table .descripcion {
	border-left: 1px solid #bab9b9;
	padding-left: 20px;
}	
 
/*SECCION CONTACTO */

.contacto {
	background-color: #202020;
	padding: 140px 0 100px 0;
	color: #e6e6e6;
	text-align: center;
}
.contacto .contenido-seccion {
	max-width: 1000px;
	margin: auto;
	padding: 0 10px;
	 }
.contacto .contenido-seccion h3 {
	text-transform: uppercase;
	font-size: 30px;
}
.contacto .contenido-seccion .fila{
	display: flex;
	justify-content: space-around;
}
.contacto .contenido-seccion .fila .col h2 {
	color: blue;
	font-size: 24px;
	
}
